<p class="message">
  <img src="/public/img/kashima-lab.png" align="right" />

  Try the <a href="/2017/06/26/mangaki-data-challenge-1er-juillet/"><strong>Mangaki Data Challenge</strong></a> with Kyoto University's <a href="http://www.ml.ist.i.kyoto-u.ac.jp/en/">ML lab</a>!<br />

  <strong>Read the problem:</strong>
    <a href="/2017/07/18/mangaki-data-challenge-en/">In English</a> /
    <a href="/2017/07/18/mangaki-data-challenge-fr/">en français</a> /
    <a href="/2017/07/18/mangaki-data-challenge-jp/">日本語</a>.<br />

  <strong>Compete now:</strong> <a href="https://bit.ly/mangakidatachallenge"><code>bit.ly/mangakidatachallenge</code></a>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=The Mangaki Data Challenge is live! 🏆 In 3 languages! 🇯🇵🇫🇷🇬🇧!%0DCompete Now:&amp;url=http://research.mangaki.fr&amp;related={{ site.author.twitter }}&amp;via={{ site.author.twitter }}&amp;hashtags=KyotoUniversity">Tweet</a>
    <a href="https://facebook.com/sharer.php?u=https://bit.ly/mangakidatachallenge" style="width: 59px; display: inline-block; height: 22px; background: 0 2px url('/public/img/fb-share.png') no-repeat;"> </a>
  <br />
</p>
