<ul class="message">
  <li>
    Our video: <a href="https://www.youtube.com/watch?v=loKHrz851ug"><strong><em>Deep Learning for Anime & Manga</em></strong></a> @ <a href="https://www.opensourcesummit.paris/">POSS 2019</a> <a href="https://drive.google.com/drive/u/0/folders/1nNEvsX1RPU117X37a39foPJkMg6bjm2r"><strong>[slides]</strong></a>.
  </li>
  <li>
    <a href="https://mangaki.fr/static/mangaki-linuxmag.pdf"><strong><em>Comment coder un système de recommandation en Python</em></strong></a>, LinuxMag.
  </li>
  <li>
    Our research article <a href="https://arxiv.org/pdf/1709.01584"><strong>BALSE</strong></a> was accepted at <a href="http://manpu2017.imlab.jp" target="_extra"><strong>MANPU 2017</strong></a> in Kyoto.
  </li>
  <li>
    The <strong>Mangaki Data Challenge</strong> is over. 
    <strong><a href="/2017/10/08/mangaki-data-challenge-winners-en/"><nobr>See the full results.</nobr></a></strong>
  </li>
</ul>
