<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">

        <p class="message">Venez nous voir au <strong>Paris Machine Learning Meetup</strong> ! <a href="http://www.meetup.com/fr-FR/Paris-Machine-learning-applications-group/events/228085472/">Réserver.</a><br />
        Aujourd'hui <strong>11 mai à 20 h 30</strong>.<br />
        À <a href="https://www.google.fr/maps/place/45+Boulevard+Saint-Martin,+75010+Paris/@48.8685421,2.3546444,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e0e2aeaf5e7:0x4fc869d73ca46ad1!8m2!3d48.8685421!4d2.3568331?hl=fr">Dojo Events, 45 boulevard Saint-Martin, Paris</a>.</p>

        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
